<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>โรงพยาบาลส่งเสริมสุขภาพตำบลวังดาล</title>
    <link rel="shortcut icon" href="{{url_for('static', filename= 'Css/img/wangdal.jpg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'Css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'Css/about.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Prompt:wght@300&display=swap" rel="stylesheet">
</head>
<div class="baby"><body>
    <!-- <img src="{{url_for('static', filename= 'Css/img/wangdal.jpg')}}" alt="logo" id="logo"> -->
    <!-- <img src="{{url_for('static', filename= 'Css/img/life-heart-beat.gif')}}" alt="gif" id="gif"> -->

    <div class="head1">อาการสำคัญเมื่อเกิดเหตุฉุกเฉินโรคหัวใจและหลอดเลือด</div><br>
    <div class="btn_f"><a href="/"><button class="back">หน้าแรก</button></a></div>
    <div class="hothead">โรคหัวใจขาดเลือด</div>
    <div class="hotbody">เกิดจากผนังด้านในของหลอดเลือดมีไขมันสะสม พอกตัวหนาขึ้น หลอดเลือด จะตีบและแข็งตัว จนการไหลเวียนเลือดตีบตันลงไป เลือดไปเลี้ยงกล้ามเนื้อหัวใจลดลงเป็นผลทำให้เกิดภาวะกล้ามเนื้อหัวใจขาดเลือด</div><br>
        <div class="hothead">อาการของโรคหัวใจขาดเลือด</div>
        <div class="hotbody">1.เจ็บแน่นหน้าอก คล้ายมีอะไรมากดทับ ระยะเวลาประมาณ 30 วินาทีถึง 15 นาที<br>
            2.มีอาการหายใจเหนื่อยหอบ หายใจไม่ออก นอนราบไม่ได้<br>
            3.เวียนศีรษะ หน้ามืดจะเป็นลม หรือหมดสติเนื่องจากเลือดไปเลี้ยงสมองไม่พอ
        </div><br>
        <div class="hothead">อาการเตือนของโรคหัวใจขาดเลือด</div>
            <div class="hotbody">1.เจ็บกลางหน้าอก บริเวณเหนือลิ้นปี่ขึ้นมาเล็กน้อย เจ็บแบบจุกแน่น คล้ายมีอะไรมาบีบ หรือกดทับไว้<br>
            2.อาการเจ็บมักร้าวไปที่คอหรือขากรรไกร หรือไหล่ซ้ายมักเป็นมากขณะออกกำลังกาย<br>
            3.บางคนอาจมีอาการจุกแน่นลิ้นปี่เหมือนอาหารไม่ย่อย
        </div><br>
        <div class="hothead">โรคหลอดเลือดสมอง</div>
            <div class="hotbody">หรือโรคอัมพฤกษ์ อัมพาต คือ ภาวะที่สมองขาดเลือดไปเลี้ยง ซึ่งเกิดจากหลอดเลือดที่ไปเลี้ยงสมองตีบตัน หรือแตก จนเกิดการทำลาย หรือตายของเนื้อสมอง<br>
            </div>
        <div class="hothead">อาการของโรคหลอดเลือดสมอง</div>
            <div class="hotbody">อาการขึ้นอยู่กับตำแหน่งที่สมองขาดเลือดไปเลี้ยง อาการที่พบบ่อยคือ การอ่อนแรงบริเวณใบหน้า แขนขา ส่วนมากเป็นข้างเดียว และเกิดขึ้นโดยเฉียบพลัน อาการอื่นที่อาจเกิดร่วม ได้แก่ ชาบริเวณใบหน้า แขนขา มองเห็นไม่ชัด เห็นภาพซ้อน การคิดสับสน พูดลำบาก หรือฟังคนอื่นเข้าใจยาก ปวดศีรษะรุนแรง เดินลำบาก งุนงง ทรงตัวไม่ได้เหมือนปกติ เป็นลมหมดสติ
            </div><br>
        <div class="hothead">อาการเตือนของโรคหลอดเลือดสมอง</div>
            <div class="hotbody">1.F = Face เวลายิ้มพบว่ามุมปากข้างหนึ่งตก<br>
            2.A = Arms ยกแขนไม่ขึ้น 1 ข้าง<br>
            3.S = Speech มีปัญหาด้านการพูดแม้ประโยคง่ายๆ พูดแล้วคนฟัง ฟังไม่รู้เรื่อง<br>
            3.T = Time ถ้ามีอาการเหล่านี้ ให้รีบไปโรงพยาบาล โดยด่วน ภายใน 4 ชั่วโมง จะได้ช่วยรักษาชีวิตและสามารถฟื้นฟูกลับมาได้เป็นปกติหรือใกล้เคียงคนปกติมากที่สุด
        </div><br>

        <div class="head1">เมื่อมีอาการแสดงฉุกเฉินดังกล่าวตามเนื้อหาด้านบน ให้รีบนำผู้ป่วยส่งโรงพยาบาลโดยเร็วที่สุด หรือโทรเรียกสายด่วน 1669 </div>
    

    <!-- <h3 id="need"><br>โดย วรรณพร อรรถธรรมสุนทร</h3> -->
    <!-- <a href="/check" id="check"><button class="check">เช็คเลย</button></a> -->
    <!-- <script src="{{url_for('static', filename= 'JS/home.js')}}"></script> -->
</body></div>
</html>