<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>โรงพยาบาลส่งเสริมสุขภาพตำบลวังดาล</title>
    <link rel="shortcut icon" href="{{url_for('static', filename= 'Css/img/wangdal.jpg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'Css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'Css/info3.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Prompt:wght@300&display=swap" rel="stylesheet">
</head>
<div class="baby"><body>
    <!-- <img src="{{url_for('static', filename= 'Css/img/wangdal.jpg')}}" alt="logo" id="logo"> -->
    <!-- <img src="{{url_for('static', filename= 'Css/img/life-heart-beat.gif')}}" alt="gif" id="gif"> -->

    <div class="head1">ข้อแนะนำในการปรับพฤติกรรมสุขภาพเพื่อป้องกันการเกิดโรคหัวใจและหลอดเลือดหลังการประเมินโอกาสเสี่ยง</div>
    <div class="greed">สีส้ม</div><br>
        <div class="hothead">เพื่อป้องกันการเกิดโรคหัวใจและหลอดเลือดในอนาคตควรลดอาหารไขมันสูงเช่น เนื้อ นม เนย ของมัน ของทอด ลดอาหารเค็มหรือมีเกลือโซเดียมสูง ไม่เติม เครื่องปรุงรสอาหารสำเร็จรูป ลดอาหารและเครื่องดื่มที่มีรสหวานหรือนํ้าตาลสูง เช่น นํ้าอัดลม  ควรควบคุมนํ้าหนักตัวให้เหมาะสม หยุดสูบบุหรี่หรือไม่เริ่มสูบ ลด/เลิกการบริโภคเครื่องดื่มที่มีแอลกอฮอล์  พบแพทย์ตามนัด  ใช้ยาตามแพทย์สั่งสม่ำเสมอ ตรวจและ ติดตามภาวะสุขภาพของตนเองอย่างสม่ำเสมอ (ชั่งน้ำหนัก วัดรอบเอว วัดความดันโลหิต ตรวจน้ำตาลปลายนิ้ว ระดับไขมันในเลือด)</div>
    <div class="head1">เกณฑ์การควบคุมความเสี่ยงโรคหัวใจและหลอดเลือดในผู้ป่วยเบาหวานและความดันโลหิต</div><br>
        <div class="hothead" >เพศ --> ชาย - รอบเอวไม่เกิน 90 ซม.
            <br>หญิง - รอบเอวไม่เกิน 80 ซม.
            <br>ความดันโลหิต --> เลขความดันตัวบนไม่เกิน 140 หรือเลขความดันตัวล่างไม่เกิน 90
            <br>น้ำตาลในเลือด --> ไม่เกิน 131
            <br>ไขมันในเลือด --> ไม่เกิน 280
            <br>ค่าดัชนีมวลกาย (BMI) --> ไม่เกิน 25
        </div><br>

    <!-- <h3 id="need"><br>โดย วรรณพร อรรถธรรมสุนทร</h3> -->
    <!-- <a href="/check" id="check"><button class="check">เช็คเลย</button></a> -->
    <!-- <script src="{{url_for('static', filename= 'JS/home.js')}}"></script> -->
    <div class="btn_f"><a href="/"><button class="back">หน้าแรก</button></a></div>
</body></div>
</html>